global:
  scrape_interval: 15s
  evaluation_interval: 15s

scrape_configs:
  # API сервис
  - job_name: 'autopark-api'
    dns_sd_configs:
      - names: ['tasks.api']
        type: 'A'
        port: 8000
    metrics_path: '/metrics'
    scrape_interval: 15s

  # Prometheus сам себя
  - job_name: 'prometheus'
    static_configs:
      - targets: ['localhost:9090']
        labels:
          service: 'prometheus'